:root {
  font-size: 16px;
  --dark-blue: #2980b9;
  --white: #ecf0f1;
  --light-green: #2ecc71;
  --light-grey: #bdc3c7;
  --light-red: #e74c3c;
  --dark-grey: #7f8c8d;
}

body {
  padding: 40px;
}

form,
.grid-column-2 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

form input,
form textarea {
  height: 1.5rem;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
}

form textarea {
  height: 200px;
}

form button,
.grid-column-2 button,
.collapse-container button {
  grid-column: 1/-1;
  border: none;
  background-color: var(--light-green);
  padding: 10px;
  width: 30%;
  margin: 0 auto;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
}

.collapse-container button {
  margin: 0 auto;
  grid-column: 1/-1;
}

.edit-section-title {
  text-align: center;
  background-color: var(--dark-blue);
  padding: 10px;
  position: relative;
  font-weight: bold;
  color: var(--white);
}

.edit-section-title img {
  width: 20px;
  position: absolute;
  right: 25px;
  filter: invert(100%);
}

.edit-section-body {
  padding-top: 20px;
  transition: opacity 0.3s linear 2s;
  overflow: hidden;
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
  padding: 20px;
}

.edit-section-body form {
  background-color: var(--white);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.edit-section-title img:hover {
  cursor: pointer;
}

.collapse {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.delete-button {
  background-color: var(--light-red) !important;
  color: var(--white);
}

button:hover {
  cursor: pointer;
}

.education-item,
.experience-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.university-name-and-city-container {
  display: flex;
  gap: 5px;
}

.print-heading-section {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 10px;
  margin: 20px 0;
}

.description-area {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.uploaded-picture img {
  width: 100%;
}

.uploaded-picture {
  width: 200px;
}

#display-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-top: 40px;
}
